<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><TMPL_VAR TITLE></title>
<TMPL_IF NAME="FAVICON">
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
<TMPL_IF NAME="FEEDLINKS"><TMPL_VAR FEEDLINKS></TMPL_IF>
<TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
</head>
<body>

<div class="header">
<div id="logo">
  <a href="/"><img alt="cairo" src="/cairo-banner.png" /></a>
</div>
</div>

<div id="navcontainer">
<ul id="navlist">
<li><a href="/news/">News</a></li>
<li><a href="/download/">Download</a></li>
<li><a href="/documentation/">Documentation</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="/examples/">Examples</a></li>
</ul>
</div>

<TMPL_UNLESS NAME="TOPLEVELINDEX">
<div id="title">
<TMPL_VAR TITLE>
</div>
</TMPL_UNLESS>
<TMPL_IF NAME="SEARCHFORM">
<TMPL_VAR SEARCHFORM>
</TMPL_IF>

<TMPL_IF SIDEBAR>
<div id="sidebar">
<TMPL_VAR SIDEBAR>
</div>
</TMPL_IF>

<div id="content">
<TMPL_VAR CONTENT>
</div>

<div id="footer">

<TMPL_IF NAME="HAVE_ACTIONS">
<div class="actions">
<ul>
<TMPL_IF NAME="EDITURL">
<li><a href="<TMPL_VAR EDITURL>">Edit</a></li>
</TMPL_IF>
<TMPL_IF NAME="RECENTCHANGESURL">
<li><a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
</TMPL_IF>
<TMPL_IF NAME="HISTORYURL">
<li><a href="<TMPL_VAR HISTORYURL>">History</a></li>
</TMPL_IF>
<TMPL_IF NAME="PREFSURL">
<li><a href="<TMPL_VAR PREFSURL>">Preferences</a></li>
</TMPL_IF>
<TMPL_IF NAME="DISCUSSIONLINK">
<li><TMPL_VAR DISCUSSIONLINK><br /></li>
</TMPL_IF>
</ul>
</div>
</TMPL_IF>

<div id="pageinfo">

<TMPL_IF NAME="TAGS">
<div class="tags">
Tags:
<TMPL_LOOP NAME="TAGS">
<TMPL_VAR NAME=LINK>
</TMPL_LOOP>
</div>
</TMPL_IF>

<TMPL_IF NAME="BACKLINKS">
<div id="backlinks">
Links:
<TMPL_LOOP NAME="BACKLINKS">
<a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=PAGE></a>
</TMPL_LOOP>
<TMPL_IF NAME="MORE_BACKLINKS">
<span class="popup">...
<span class="balloon">
<TMPL_LOOP NAME="MORE_BACKLINKS">
<a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=PAGE></a>
</TMPL_LOOP>
</span>
</span>
</TMPL_IF>
</div>
</TMPL_IF>

<div class="pagedate">
Last edited <TMPL_VAR NAME=MTIME>
</div>

</div>
<TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
<!-- from <TMPL_VAR NAME=WIKINAME> -->
</div>

</body>
</html>
